/* This file is for your main application css. */

#error_div {
  display: none;
}

.forms{
  margin: 50px auto;
  max-width: 500px;
  width: 97%;
  padding: 20px !important;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0 1px 4px 2px rgba(0,0,0,.2);
  position: relative;
  background: #fff;
  z-index: 100;
}

#error_text{
color: #e74c3c!important;
  margin-top: -10px !important;
  display: block;
  margin-bottom: 10px;
}

#message-list {
    border: 1px solid #777;
    height: 300px;
    padding: 10px;
    overflow: scroll;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: whitesmoke;
  
  }
  
  #userHome{
    height: auto;
    width: auto;
    display: none;
  }
  
  #send-tweet-list {
    border: 1px solid #777;
    height: 100px;
    padding: 10px;
    overflow: scroll;
    margin-bottom: 50px;
  
  }
  
  #tweetbox {
    border: 1px solid #777;
    height: 70px;
    width: 700px;
    padding: 10px;
    overflow: scroll;
    margin-top: 50px;
   
  }
  
  #hashtag{
    margin: 20px;
  }
  
  #usermention{
    margin: 20px;
  }
  
  #retweet{
    margin: 20px;
  }

  .buttons {
    background-color: #00ACEE;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin-top: 4px;
  
  }

  #logoutDeleteButtons {
    display: none;
  }